In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Path = r"C:\Users\Lenovo\Documents\GitHub\CreditCard_Analysis\data\sanitized_credit_card_transactions.csv"
df = pd.read_csv(Path)

# Data Information

In [4]:
df.shape

(1296675, 19)

In [5]:
df.head()

,trans_date_time,cc_num_key,merchant,category,amt,gender,city,state,trunc_zip,lat,lon,city_pop,job,age,trans_num,merch_lat,merch_long,is_fraud,merch_zipcode
0,2019-01-01 00:00:18,445,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,286,36.0788,-81.1781,3495,"Psychologist, counselling",38,0b242abb623afc578575680df30655b9,36.011293,-82.048315,0,28705
1,2019-01-01 00:00:44,43,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,991,48.8878,-118.2105,149,Special educational needs teacher,48,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,0
2,2019-01-01 00:00:51,238,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,832,42.1808,-112.2620,4154,Nature conservation officer,65,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481,0,83236
3,2019-01-01 00:01:16,510,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,596,46.2306,-112.1138,1939,Patent attorney,60,6b849c168bdad6f867558c3793159a81,47.034331,-112.561071,0,0
4,2019-01-01 00:03:06,369,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,244,38.4207,-79.4629,99,Dance movement psychotherapist,40,a41d7549acf90789359a9aa5346dcb46,38.674999,-78.632459,0,22844

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 19 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   trans_date_time  1296675 non-null  object
 1   cc_num_key       1296675 non-null  int64
 2   merchant         1296675 non-null  object
 3   category         1296675 non-null  object
 4   amt              1296675 non-null  float64
 5   gender           1296675 non-null  object
 6   city             1296675 non-null  object
 7   state            1296675 non-null  object
 8   trunc_zip        1296675 non-null  int64
 9   lat              1296675 non-null  float64
 10  lon              1296675 non-null  float64
 11  city_pop         1296675 non-null  int64
 12  job              1296675 non-null  object
 13  age              1296675 non-null  int64
 14  trans_num        1296675 non-null  object
 15  merch_lat        1296675 non-null  float64
 16  merch_long       1296675 non-null  float64
 17  is_fraud         1296675 non-null  int64
 18  merch_zipcode    1296675 non-null  int64
dtypes: float64(5), int64(6), object(8)
memory usage: 188.0+ MB

In [7]:
df.describe()

,cc_num_key,amt,trunc_zip,lat,lon,city_pop,age,merch_lat,merch_long,is_fraud,merch_zipcode
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,4.910549e+02,7.035104e+01,5.172134e+02,3.853762e+01,-9.022634e+01,8.882444e+04,5.284240e+01,3.853734e+01,-9.022646e+01,5.788652e-03,3.974874e+04
std,2.815013e+02,1.603160e+02,2.493472e+02,5.075808e+00,1.375908e+01,3.019564e+05,1.740187e+01,5.109788e+00,1.377109e+01,7.586269e-02,2.911754e+04
min,1.000000e+00,1.000000e+00,1.000000e+02,2.002710e+01,-1.656723e+02,2.300000e+01,2.200000e+01,1.902779e+01,-1.666712e+02,0.000000e+00,0.000000e+00
25%,2.490000e+02,9.650000e+00,3.040000e+02,3.462050e+01,-9.679800e+01,7.430000e+02,3.900000e+01,3.473357e+01,-9.689728e+01,0.000000e+00,1.406900e+04
50%,4.860000e+02,4.752000e+01,5.050000e+02,3.935430e+01,-8.747690e+01,2.456000e+03,5.100000e+01,3.936568e+01,-8.743839e+01,0.000000e+00,3.848600e+04
75%,7.330000e+02,8.314000e+01,7.250000e+02,4.194040e+01,-8.015800e+01,2.032800e+04,6.400000e+01,4.195716e+01,-8.023680e+01,0.000000e+00,6.409800e+04
max,9.830000e+02,2.894890e+04,9.970000e+02,6.669330e+01,-6.795030e+01,2.906700e+06,1.020000e+02,6.751027e+01,-6.695090e+01,1.000000e+00,9.940300e+04

# Feature Engineering

In [8]:
df.isnull().sum()

trans_date_time    0
cc_num_key         0
merchant           0
category           0
amt                0
gender             0
city               0
state              0
trunc_zip          0
lat                0
lon                0
city_pop           0
job                0
age                0
trans_num          0
merch_lat          0
merch_long         0
is_fraud           0
merch_zipcode      0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
#Category
def category_trans(category):
    s = category.strip().lower()

    if pd.isna(category):
        return np.nan
    
    else:
        try:
            for i in s:
                cat = s.split('_')
                return cat[0]
        except ValueError:
            return np.nan

df['category'] = df['category'].apply(category_trans)

In [11]:
#Transaction Time Features
df['trans_date_time'] = pd.to_datetime(df['trans_date_time'])
df['hour'] = df['trans_date_time'].dt.hour
df['dayofweek'] = df['trans_date_time'].dt.dayofweek
df['month'] = df['trans_date_time'].dt.month
df.loc[df['dayofweek'].isin([5,6]), 'weekend'] = 1
df['weekend'].fillna(0,inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16408\299599925.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['weekend'].fillna(0,inplace=True)

In [12]:
#Distance between merchant and customer
df['distance'] = np.sqrt((df['lat']-df['merch_lat'])**2+(df['lon']-df['merch_long'])**2)

In [ ]:
#Age Buckets
age_buckets = [20,31,51,np.inf]
age_labels = ['<30','31-50','50+']
df['age_bucket'] = pd.cut(df['age'],bins=age_buckets,labels=age_labels,right=False)

In [19]:
#city population bucket
city_bins=[20,2000,3000,np.inf]
city_labels=['Low population','average population','high population']
df['city buckets'] = pd.cut(df['city_pop'],bins=city_bins,labels=city_labels,right=False)

In [22]:
df

,trans_date_time,cc_num_key,merchant,category,amt,gender,city,state,trunc_zip,lat,...,merch_long,is_fraud,merch_zipcode,hour,dayofweek,month,weekend,distance,age_bucket,city buckets
0,2019-01-01 00:00:18,445,"fraud_Rippin, Kub and Mann",misc,4.97,F,Moravian Falls,NC,286,36.0788,...,-82.048315,0,28705,0,1,1,0.0,0.872830,31-50,high population
1,2019-01-01 00:00:44,43,"fraud_Heller, Gutmann and Zieme",grocery,107.23,F,Orient,WA,991,48.8878,...,-118.186462,0,0,0,1,1,0.0,0.272310,31-50,Low population
2,2019-01-01 00:00:51,238,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,832,42.1808,...,-112.154481,0,83236,0,1,1,0.0,0.975845,50+,high population
3,2019-01-01 00:01:16,510,"fraud_Kutch, Hermiston and Farrell",gas,45.00,M,Boulder,MT,596,46.2306,...,-112.561071,0,0,0,1,1,0.0,0.919802,50+,Low population
4,2019-01-01 00:03:06,369,fraud_Keeling-Crist,misc,41.96,M,Doe Hill,VA,244,38.4207,...,-78.632459,0,22844,0,1,1,0.0,0.868505,31-50,Low population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,2020-06-21 12:12:08,180,fraud_Reichel Inc,entertainment,15.56,M,Hatch,UT,847,37.7175,...,-111.690765,0,0,12,6,6,1.0,1.177732,50+,Low population
1296671,2020-06-21 12:12:19,814,fraud_Abernathy and Sons,food,51.70,M,Tuscarora,MD,217,39.2667,...,-78.246528,0,22630,12,6,6,1.0,0.819632,31-50,Low population
1296672,2020-06-21 12:12:32,475,fraud_Stiedemann Ltd,food,105.93,M,High Rolls Mountain Park,NM,883,32.9396,...,-105.130529,0,88351,12,6,6,1.0,0.967541,50+,Low population
1296673,2020-06-21 12:13:36,452,"fraud_Reinger, Weissnat and Strosin",food,74.90,M,Manderson,SD,577,43.3526,...,-103.241160,0,69367,12,6,6,1.0,0.898775,31-50,Low population
1296674,2020-06-21 12:13:37,918,"fraud_Langosh, Wintheiser and Hyatt",food,4.30,M,Sula,MT,598,45.8433,...,-114.186110,0,59870,12,6,6,1.0,0.786883,31-50,Low population

In [23]:
df.isnull().sum()

trans_date_time    0
cc_num_key         0
merchant           0
category           0
amt                0
gender             0
city               0
state              0
trunc_zip          0
lat                0
lon                0
city_pop           0
job                0
age                0
trans_num          0
merch_lat          0
merch_long         0
is_fraud           0
merch_zipcode      0
hour               0
dayofweek          0
month              0
weekend            0
distance           0
age_bucket         0
city buckets       0
dtype: int64

In [25]:
df.to_csv('featured_credit_card_transaction.csv',index=False)