In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Path = r"C:\Users\Lenovo\Documents\GitHub\CreditCard_Analysis\data\sanitized_credit_card_transaction.csv"
df = pd.read_csv(Path)

# Data Information

In [3]:
df.shape

(1296674, 19)

In [4]:
df.head()

,2019-01-01 00:00:18,445,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,286,36.0788,-81.1781,3495,"Psychologist, counselling",37.0000,0b242abb623afc578575680df30655b9,36.011293,-82.048315,0,28705
0,2019-01-01 00:00:44,43,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,991,48.8878,-118.2105,149,Special educational needs teacher,47.0,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,0
1,2019-01-01 00:00:51,238,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,832,42.1808,-112.2620,4154,Nature conservation officer,64.0,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481,0,83236
2,2019-01-01 00:01:16,510,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,596,46.2306,-112.1138,1939,Patent attorney,59.0,6b849c168bdad6f867558c3793159a81,47.034331,-112.561071,0,0
3,2019-01-01 00:03:06,369,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,244,38.4207,-79.4629,99,Dance movement psychotherapist,39.0,a41d7549acf90789359a9aa5346dcb46,38.674999,-78.632459,0,22844
4,2019-01-01 00:04:08,755,"fraud_Stroman, Hudson and Erdman",gas_transport,94.63,F,Dublin,PA,189,40.3750,-75.2045,2158,Transport planner,64.0,189a841a0a8ba03058526bcfe566aab5,40.653382,-76.152667,0,17972

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296674 entries, 0 to 1296673
Data columns (total 19 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   2019-01-01 00:00:18               1296674 non-null  object
 1   445                               1296674 non-null  int64
 2   fraud_Rippin, Kub and Mann        1296674 non-null  object
 3   misc_net                          1296674 non-null  object
 4   4.97                              1296674 non-null  float64
 5   F                                 1296674 non-null  object
 6   Moravian Falls                    1296674 non-null  object
 7   NC                                1296674 non-null  object
 8   286                               1296674 non-null  int64
 9   36.0788                           1296674 non-null  float64
 10  -81.1781                          1296674 non-null  float64
 11  3495                              1296674 non-null  int64
 12  Psychologist, counselling         1296674 non-null  object
 13  37.0000                           1296674 non-null  float64
 14  0b242abb623afc578575680df30655b9  1296674 non-null  object
 15  36.011293                         1296674 non-null  float64
 16  -82.048315                        1296674 non-null  float64
 17  0                                 1296674 non-null  int64
 18  28705                             1296674 non-null  int64
dtypes: float64(6), int64(5), object(8)
memory usage: 188.0+ MB

In [28]:
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.100702e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03,4.682575e+04
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02,2.583400e+04
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00,1.001000e+03
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00,2.511400e+04
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00,4.586000e+04
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00,6.831900e+04
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00,9.940300e+04

# Data Preprocessing

In [37]:
df.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [42]:
df.duplicated().sum()

np.int64(0)

In [44]:
#Category
def category_trans(category):
    s = category.strip().lower()

    if pd.isna(category):
        return np.nan
    
    else:
        try:
            for i in s:
                cat = s.split('_')
                return cat[0]
        except ValueError:
            return np.nan

df['category'] = df['category'].apply(category_trans)

In [ ]:
#Transaction Time Features
df['hour'] = df['trans_date_trans_time'].dt.hour
df['dayofweek'] = df['trans_date_trans_time'].dt.dayofweek
df['month'] = df['trans_date_trans_time'].dt.month
df['weekend'] = ()

In [48]:
#Distance between merchant and customer
df['distance'] = np.sqrt((df['lat']-df['merch_lat'])**2+(df['long']-df['merch_long'])**2)

In [49]:
df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,street,city,state,zip,...,dob,trans_num,merch_lat,merch_long,is_fraud,Age,hour,dayofweek,month,distance
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc,4.97,F,561 Perry Cove,Moravian Falls,NC,28654,...,1988-03-09,0b242abb623afc578575680df30655b9,36.011293,-82.048315,0,30,0,1,1,0.872830
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery,107.23,F,43039 Riley Greens Suite 393,Orient,WA,99160,...,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,40,0,1,1,0.272310
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,594 White Dale Suite 530,Malad City,ID,83252,...,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481,0,56,0,1,1,0.975845
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas,45.00,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,...,1967-01-12,6b849c168bdad6f867558c3793159a81,47.034331,-112.561071,0,52,0,1,1,0.919802
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc,41.96,M,408 Bradley Rest,Doe Hill,VA,24433,...,1986-03-28,a41d7549acf90789359a9aa5346dcb46,38.674999,-78.632459,0,32,0,1,1,0.868505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,M,162 Jessica Row Apt. 072,Hatch,UT,84735,...,1961-11-24,440b587732da4dc1a6395aba5fb41669,36.841266,-111.690765,0,58,12,6,6,1.177732
1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food,51.70,M,8617 Holmes Terrace Suite 651,Tuscarora,MD,21790,...,1979-12-11,278000d2e0d2277d1de2f890067dcc0a,38.906881,-78.246528,0,40,12,6,6,0.819632
1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food,105.93,M,1632 Cohen Drive Suite 639,High Rolls Mountain Park,NM,88325,...,1967-08-30,483f52fe67fabef353d552c1e662974c,33.619513,-105.130529,0,52,12,6,6,0.967541
1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food,74.90,M,42933 Ryan Underpass,Manderson,SD,57756,...,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,42.788940,-103.241160,0,39,12,6,6,0.898775
1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food,4.30,M,135 Joseph Mountains,Sula,MT,59871,...,1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,46.565983,-114.186110,0,24,12,6,6,0.786883